<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DMAuthenticateSoap" />
                <binding name="DMListManagerSoap" />
                <binding name="DMSendMessageSoap" />
                <binding name="DMCreativeBuilderSoap" />
                <binding name="BasicHttpBinding_DMPlus" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_DMPlus1" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="SOAP" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_EM" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="DMReportingSoap" />
                <binding name="DMListImportSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apac-uat.e.alterian.net/authenticate.asmx"
                binding="basicHttpBinding" bindingConfiguration="DMAuthenticateSoap"
                contract="DMAuthenticate.DMAuthenticateSoap" name="DMAuthenticateSoap" />
            <endpoint address="http://apac-uat.e.alterian.net/listmanager.asmx"
                binding="basicHttpBinding" bindingConfiguration="DMListManagerSoap"
                contract="DMListManager.DMListManagerSoap" name="DMListManagerSoap" />
            <endpoint address="http://apac-uat.e.alterian.net/sendmessage.asmx"
                binding="basicHttpBinding" bindingConfiguration="DMSendMessageSoap"
                contract="DMSendMessage.DMSendMessageSoap" name="DMSendMessageSoap" />
            <endpoint address="http://apac-uat.e.alterian.net/creativebuilder.asmx"
                binding="basicHttpBinding" bindingConfiguration="DMCreativeBuilderSoap"
                contract="DMCreativeBuilder.DMCreativeBuilderSoap" name="DMCreativeBuilderSoap" />
            <endpoint address="http://apac-uat.e.alterian.net/DMPlus.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DMPlus"
                contract="DMPlus.DMPlus" name="BasicHttpBinding_DMPlus" />
            <endpoint address="https://apac-uat.e.alterian.net/DMPlus.svc/https"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DMPlus1"
                contract="DMPlus.DMPlus" name="BasicHttpBinding_DMPlus1" />
            <endpoint address="http://apac-uat.e.alterian.net/EM.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="SOAP" contract="EM.EM"
                name="SOAP" />
            <endpoint address="https://apac-uat.e.alterian.net/EM.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EM"
                contract="EM.EM" name="BasicHttpBinding_EM" />
            <endpoint address="http://apac-uat.e.alterian.net/reporting.asmx"
                binding="basicHttpBinding" bindingConfiguration="DMReportingSoap"
                contract="DMReporting.DMReportingSoap" name="DMReportingSoap" />
            <endpoint address="http://apac-uat.e.alterian.net/listimport.asmx"
                binding="basicHttpBinding" bindingConfiguration="DMListImportSoap"
                contract="DMListImport.DMListImportSoap" name="DMListImportSoap" />
        </client>
    </system.serviceModel>
</configuration>